/*Default styling*/
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1{
    font-weight: 400;
}

/*descendent Selector also called combinators*/
header {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
}

nav{
    position: relative;
    top: 1rem;
    right: 3rem;
    width: 20rem;
}

ul{
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
    font-size: 1.5rem;

}

/*Class selector*/
.showcase_img{
    width:95vw;
    margin:1rem;
}
article{
    display: flex;
    margin: 1.5rem;
    
}

.content{
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    font-size: 1.5rem;

}
h2{
    font-weight: 600;
}

footer{
    background-color: black;
    color: white;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: black;
}

/*pseudo classes*/

a:hover{
    color: red;
}